@font-face {
  font-family: "icomoon";
  src: url("/fonts/icomoon.eot?tolhj");
  src: url("/fonts/icomoon.eot?tolhj#iefix") format("embedded-opentype"),
    url("/fonts/icomoon.ttf?tolhj") format("truetype"),
    url("fonts/icomoon.woff?tolhj") format("woff"),
    url("fonts/icomoon.svg?tolhj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"],
[class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;

  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-phone:before {
  content: "\e942";
}
.ic-envelop:before {
  content: "\e945";
}
.ic-location:before {
  content: "\e947";
}
.ic-user:before {
  content: "\e971";
}
