* {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
}

p {
  font-size: 14px;
  line-height: 19.1px;
}

h6 {
  font-family: "Roboto";
  font-weight: bolder;
  font-size: 24px;
  line-height: 21px;
}

nav span {
  font-size: larger;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
nav .nav-link {
  font-family: "Mulish";
  font-size: 13.33px;
  color: black !important;
}
nav .navbar-brand {
  line-height: 22px;
}

.image img {
  height: 607.91px;
}

.card-section {
  margin-top: 72px;
}
.card-section .col-lg-3 {
  flex: 0 0 23%;
}
.card-section-title {
  margin-left: 3.2%;
}
.card-section .card {
  margin-top: 25.33px;
  height: 219px !important;
  box-shadow: 4px 8px 24px rgba(204, 204, 204, 0.5) !important;
}
.card-section i {
  font-size: 20.05px;
  color: #1a87e6;
  background-color: rgba(26, 135, 230, 0.1607843137);
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25.33px;
  margin-bottom: 25.33px;
  padding: 21px;
  border-radius: 50%;
}
.card-section .card-text {
  margin-top: -10%;
}
.card-section .padding-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.central-section {
  margin-left: 8%;
}
.central-section .text-col {
  display: block;
  padding-left: 10%;
}
.central-section-desc {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  padding-right: 13%;
}
.central-section img {
  height: 305px;
  width: 94%;
}

.gallery-section .titles {
  position: relative;
  display: flex;
}
.gallery-section .titles p {
  position: absolute;
  right: 4.5%;
}
.gallery-section-title {
  margin-left: 3.5%;
}
.gallery-section img {
  width: 275px;
  height: 170px;
}
.gallery-section .col-lg-3 {
  flex: 0 0 24%;
  margin-bottom: 16px;
}

.grid-section {
  margin-bottom: 585px;
}
.grid-section-title {
  margin-left: 3%;
}
.grid-section .intro,
.grid-section .person-info,
.grid-section .date-time {
  border: 1px solid #2159ab;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 16px;
  height: 171px;
  background-color: #ffffff;
}
.grid-section .intro-img img {
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
.grid-section .intro-name {
  color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}
.grid-section .person-info {
  display: grid;
}
.grid-section .person-info-title {
  font-size: 16px;
  line-height: 18.75px;
  margin-bottom: 16px;
  color: black;
}
.grid-section .person-info-description {
  color: #666666;
}
.grid-section .person-info-date {
  text-align: end;
  color: #666666;
  margin-top: -3%;
  font-size: 12px;
  line-height: 14px;
}
.grid-section .date-time {
  display: grid;
  position: relative;
  font-size: 12px;
  line-height: 14px;
  color: #666666;
}
.grid-section .date-time .date {
  position: absolute;
  top: 16px;
  left: 16px;
}
.grid-section .date-time .time {
  position: absolute;
  bottom: 20px;
  right: 16px;
}

footer {
  margin-top: 585px;
  background-color: rgba(26, 135, 230, 0.1607843137);
}
footer a {
  color: black;
}

@media screen and (max-width: 992px) and (min-width: 200px) {
  .container-fluid {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .central-section {
    padding: 10%;
  }
  .central-section img {
    width: 100%;
  }
  .central-section .text-col {
    padding-left: 0;
  }
  .central-section-desc {
    padding-right: 0;
  }
  .gallery-section {
    margin-left: -4%;
  }
  .gallery-section .titles {
    display: block;
  }
  .gallery-section .titles p {
    position: relative;
    left: 1.5%;
  }
  .grid-section-title {
    margin-left: auto;
  }
}
